<div class="row-fluid">
	<div class="subhead">
  <h1>ROOTS 2012 Tweets</h1>
  <% if @error %><div class="error"><%= @error %></div><br/><% end %>
	</div>
</div>

<div class="row-fluid">
  <div class="span6">
      <% @tweeters.each do |tweeter| %>
        <div class="logo">
            <img src="<%= tweeter[2] %>"  width="75"  height="75"/>
            <div class="author"><%=  "#{tweeter[3]} [#{tweeter[1]}]"  %> </div>
            <div id="twitter_id"><%= twitter_user_link(tweeter[0]) %> </div>
          </div>
      <%end if @tweeters %>
  </div>
  <div class="span9">
	<ul>
      <% @tweets.each do |tweet| %>
       <li>
 		<div class="tweet">
       <div class="tweet_text"><%= tweet.text %> </div>
		   <img src="<%= tweet.user.profile_image_url %>"  width="50"  height="50"/>
         <div class="author"><%= tweet.user.name %> </div>
        <div class="twitter_id"><%= twitter_user_link(tweet.user.twitter_id) %> </div> <div class="tweet_time"><%= twitter_time(tweet.created_at) %> </div>
      </div>
		</li>
      <%end if @tweets %>
	</ul>
  </div>
</div>
